
<body>
  <div class="container">
    <div class="row">
     <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
       <ul class="list-inline">
         <li><%= link_to 'Retour au code', code_path(@code), class: 'btn btn-default' %></li>
         <li><%= link_to 'Retour à la liste', codes_path, class: 'btn btn-default' %></li>
       </ul>
     </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1><%= @code_article.article_number %></h1>
        <h3><%= @code_article.code %></h3>
        <br>
        <ul, style="list-style: none;">
        <li><i><%= @code_article.part%></i></li>
        <li style="margin-left:10px"><i><%= @code_article.sub_part%></i></li>
        <li style="margin-left:20px"><i><%= @code_article.book%></i></li>
        <li style="margin-left:30px"><i><%= @code_article.title%></i></li>
        <li style="margin-left:40px"><i><%= @code_article.chapter%></i></li>
        <li style="margin-left:50px"><i><%=@code_article.section%></i></li>
        </ul>
        <br>
        <% @code_article.content.split("\n").each do |alinea| %>
          <p><%= alinea %></p>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</body>
