<body>

  <div class="container">

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-xs-10 col-xs-offset-2">


        <h1><%= @code.title %></h1>
        <h4><%= @code.description %></h4>


        <!-- on a besoin de la liste des articles concernés par la loi  -->
        <!-- leur titre + leur url (qui redirige vers l'amendment/show -->

        <br>
        <% @code.code_articles.each do |code_article| %>
           <ul>
             <li>
               <%= link_to code_code_article_index_path(@code, path: code_article.article_path), class: 'list-article' do %>
                <%= code_article.article_number %>
               <% end %>
            </li>
           </ul>
        <% end %>
          <%#= link_to amendment.title, law_amendment_path%>
        <br>
        <p><%= link_to 'Retour à la liste', codes_path, class: 'btn btn-default' %>
        </p>
      </div>
    </div>
  </div>

</body>

