<div class="container">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">



      <h1><%= @law.title %></h1>
      <p><%= @law.description %></p>

      <!-- on a besoin de la liste des articles concernés par la loi  -->
      <!-- leur titre + leur url (qui redirige vers l'amendment/show -->

      <% @law.law_articles.each do |law_article| %>
      <ul>
        <li>
          <%= link_to law_article.article_number, law_law_article_path(@law, law_article), class: "list-article" %>
          <% end %>
        </li>
      </ul>
    </div>


<!--     <div class="col-xs-5 padded">
      <br>
      <br>
      <h4>En savoir plus</h4>
      <%= link_to 'http://www.education.gouv.fr/cid72962/publication-de-la-loi-d-orientation-et-de-programmation-pour-la-refondation-de-l-ecole.html' do %>
      <%= image_tag 'ecole.jpg', size: '420x200' %>
      <% end %>
    </div>
 -->
  </div>
</div>
