<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class='list-inline'>
        <li>
          <%#= link_to 'Retour à la Loi', law_path, class: 'btn btn-primary' %>
          <%= link_to law_path(@law), class: 'btn btn-primary' do %>
            <i class="fa fa-chevron-left"></i>&nbsp; Retour à la Loi
          <% end %>
        </li>
        <li>
          <%#= link_to law_law_article_path, class: 'btn btn-success' do %>
            <!-- Article suivant &nbsp;<i class="fa fa-chevron-right"></i> -->
          <%# end %>
          <% if @next_article %>
            <%= link_to law_law_article_path(@next_article), class: 'btn btn-success' do %>
            Article suivant &nbsp;<i class="fa fa-chevron-right"></i>
            <% end %>
          <% else %>
            <%= link_to home_path, class: 'btn btn-success' do %>
            Chercher une autre loi &nbsp;<i class="fa fa-chevron-right"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-7 article-area">
      <a class='btn-edition'>Editer</a>
      <h2><%= @law.title %> - <%= @article.article_number %></h2>
      <h4><%= @article.object %> :</h4>
      <%= format_article_content(@article) %>
    </div>

    <!-- <div class="col-xs-5 hidden" id="amendment-creation"> -->
    <!-- <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-4"> -->
      <div class="new-amendment col-xs-5 hidden">
        <div class="initial-selection">
          <h3><span></span></h3>
        </div>
        <a class='btn btn-text-replace btn-success'>Déposer un amendement</a>
        <div class="form-container hidden">

          <%= simple_form_for(@amendment) do |f| %>
            <%= f.error_notification %>
            <%#= f.input :initial_text, label: "Texte initial :" %>
            <%= f.input :content, label: "Est remplacé par :" %>
            <%= f.input :object, label: "Exposé des motifs :" %>
            <%#= f.input :amendment_number, label: "N° Amendement :" %>
            <%#= f.input :author, label: "Auteur(s) :" %>
            <%#= f.input :chamber, label: "Chambre :" %> <!-- menu déroulant : Gvt, AN, Sénat  -->
            <%#= f.select :category, [['French','french'],['Belgian','belgian'],['Italian','italian'],['Chinese','chinese'],['Japanese','japanese']] %>
            <%#= f.input :date, label: "Date de vote :", placeholder: "12/02/2015" %>
            <%#= f.input :status, label: "Statut :" %> <!-- menu déroulant : adopté...  -->
            <%#= f.string :porteur %>
            <ul class="list-inline text-center">
              <li><%#= f.button :submit, value: "Enregistrer", class: "center-block btn btn-success" %>
              <!-- <i class="fa fa-floppy-o"></i> -->

              <%= f.button :submit, class: "center-block btn btn-success" do %>
                <i class="fa fa-floppy-o"></i>&nbsp; Enregistrer
              <% end %></li>


              <li><%= f.button :submit, value: "Annuler", class:"center-block btn btn-danger" %></li>
            </ul>
          <% end %>
        </div>
      </div>

    <% @amendments.each_with_index do |amendement, index| %>
      <div class="col-xs-5 hidden" id="amendment_details_<%= index %>">
        <div class="side-border padded"><!-- insérer l'instruction d'amendement (n°, statut, auteur, objet...) -->
          <h3>Amendement n°<%= amendement.amendment_number %></h3>
          <p>Auteur: <%= amendement.author %></p>
          <p>Statut: <%= amendement.status %> (<%= amendement.chamber %>)</p>
          <p>Objet: <%= amendement.object %></p>
          <p>Date: <%= amendement.date %></p>
          <p>Texte initial :</p>
          <div><%= simple_format(amendement.initial_text) %></div>
          <p>Texte modifié :</p>
          <div><%= simple_format(amendement.content) %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
