<!-- Cette page sera remplacée par law#show -->

<h1><%= @law.title %></h1>
<p><%= @law.description %></p>

<% @amendments.each do |amendment| %>
  <h4><%= @amendment.title %></h4>
  <p><%= @amendment.description %></p>
  <p>
    <%= link_to 'show', amendment_path(amendment), class: 'btn btn-primary' %>
  </p>
<% end %>
