<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="amendment">
        <h4>Créer un Amendment</h4>
        <%= simple_form_for([@law_article, @amendment]) do |f| %>
          <%= f.error_notification %>
          <% @law_article.updated_code_articles.each do |code_article| %>
            <div class="form-group text required">
              <label class="text required control-label" for="amendment_object">
                <abbr title="required">*</abbr> <%= code_article.article_number %> sera modifié par :
              </label>
                <%= text_area_tag("code_article[#{code_article.article_path}]", code_article.content, class: "form-control editable-text", rows: code_article.content.count("\n") * 3) %>
            </div>
          <% end %>

          <%= f.input :amendment_number, label: "N° Amendement :", placeholder: 42 %>
          <%= f.input :object, label: "Exposé des motifs :" %>
          <%# f.input :chamber, label: "Chambre :" %> <!-- menu déroulant : Gvt, AN, Sénat  -->
          <%= f.input :author, label: "Auteur(s) :" %>
          <%#= f.string :porteur %>
          <ul class="list-inline text-center">
            <li><%= f.button :submit, value: "Enregistrer", class: "center-block btn btn-success" %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
